<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHK-KjfE8y3Rd_mUXE-TioBBqnTmHy3hI</string>
	<key>GCM_SENDER_ID</key>
	<string>172674055270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kemCho</string>
	<key>PROJECT_ID</key>
	<string>kemcho-e81eb</string>
	<key>STORAGE_BUCKET</key>
	<string>kemcho-e81eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172674055270:ios:1882b312af82ee0db081a7</string>
</dict>
</plist>